
.NotesPage {
    display: flex;
  }
  
  .Notes {
    color: rgb(0, 0, 0);
    background: #9dbed7;
    flex: 1; /* Take up all available space on the left */
    padding: 20px;
    margin: 20px;
    margin-top: 5vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .Forms {
      border-radius: 10px;
    background: #e73213;
    flex: 1; /* Take up all available space on the right */
    padding: 20px;
    margin: 20px;
    margin-top: 5vh;
  }